@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    scrollbar-color: #8f8f8f transparent;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

hr {
    border: none;
}

iframe {
    width: 100%;
    height: 70vh;
}

.main__wrapper {
    width: 100%;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    top: 0;
    right: 0;
    height: 56px;
    background-color: #202020;
}

.header__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 25px 0 25px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.youtube-logo {
    margin-left: 30px;
    height: 18px;
}

.bars-style {
    font-size: 18px;
    color: #ffffff;
}

.header__search-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header__searchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 3;
    flex-shrink: 3;

}

.header__searchBox input {
    background-color: #121212;
    border: 1px solid #303030;
    color: #818181;
    min-width: 400px;
    padding: 5px;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.search-form:focus {
    border: 1px solid #3b5e86;
    color: #ffffff;
}

.search-btn {
    padding: 8px 30px 5px 30px;
    background-color: #313131;
    color: #6d6d6d;
    border: 1px solid #303030;
    cursor: pointer;
    outline: none;
}

.search-btn:hover {
    color: #969696;
}

.voiceSearch-btn,
.app-btn,
.setting-btn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0 15px 0 15px;
    color: #ffffff;
    outline: none;
}

.header__account-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.logIn-btn {
    color: #3ca9ff;
    background-color: transparent;
    border: 1px solid #3ca9ff;
    padding: 10px;
    margin: 0 15px 0 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    outline: none;
}

.user-circle-style {
    color: #3ca9ff;
}

.content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #202020;
    scrollbar-width: thin;
    overflow-y: hidden;
}

.menu__wrapper:hover {
    overflow-y: scroll;
}

.menu__wrapper::-webkit-scrollbar,
.movie-content__wrapper::-webkit-scrollbar,
.video-content__wrapper::-webkit-scrollbar {
    width: 8px;
}

.menu__wrapper::-webkit-scrollbar-thumb,
.movie-content__wrapper::-webkit-scrollbar-thumb,
.video-content__wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(143, 143, 143);
}

.mainMenu-container,
.historyMenu-container,
.accountMenu-container,
.categoryMenu-container,
.moreCanalMenu-container,
.moreYtMenu-container,
.otherMenu-container,
.linksMenu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px 0 12px 0;
    border-bottom: 1px solid #373737;
}

.accountMenu-container {
    padding-left: 20px;
}

.accountMenu-description,
.movie-title {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 10px;
}

.active-btn {
    text-align: left;
    background-color: #383838;
    border: none;
    color: #ffffff;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.active-btn:hover {
    background-color: #4c4c4c;
}

.menu-btn {
    text-align: left;
    background-color: transparent;
    border: none;
    color: #8f8f8f;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.menu-btn:hover {
    background-color: #383838;
}

.active-btn i,
.menu-btn i {
    padding: 10px 25px 10px 25px;
    font-size: 20px;
}

.bestOf-btn i {
    font-size: 12px;
}

.active-span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.menu-span {
    font-size: 14px;
    color: #eaeaea;
    font-family: 'Roboto', sans-serif;
}

.menu-description,
.information-menu-description {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #8f8f8f;
    padding: 0 0 10px 25px;
}

.information-menu-description {
    padding-right: 25px;
}

.movie-content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 87%;
    height: 100vh;
    color: #ffffff;
    padding: 15px 15px 15px 15px;
    scrollbar-width: thin;
    overflow: scroll;
}

.movie-container {
    width: 25%;
    padding: 10px 10px 30px 10px;
}

.movie-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

.author-image__container {
    min-width: 15%;
    height: 90px;
    margin-right: 15px;
}

.author-image {
    width: 40px;
    border-radius: 50%;
}

.movie-title-big,
.on-time-paragraph {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
}

.movie-author-stat-paragraph {
    color: #8f8f8f;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 15px;
}

.movie-category__line {
    width: 100%;
    height: 4px;
    border: none;
    background-color: #303030;
    margin-bottom: 20px;
}

.on-time-paragraph {
    padding: 0 0 15px 15px;
    line-height: 20px
}

.on-time__container {
    width: 100%;
}

.err-login__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 150px;
    width: 87%;
}

.err-style {
    color: #909090;
    font-size: 100px;
}

.err-paragraph-small,
.err-paragraph-big {
    color: #909090;
    padding: 15px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.err-paragraph-small {
    font-size: 15px;
}

.video-content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 0 0 25px;
    height: 90vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.video__wrapper {
    width: 69%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.video-container {
    padding: 15px;
    width: 57%;

}

.more-video__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
}

.more-video__container img {
    padding-right: 15px;
}

.more-movie-screen {
    width: 45%;
}

.movie-author-space {
    margin-top: 5px;
    margin-bottom: 5px;
}

.more-video__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 465px;
}

.movie-title-container {
    padding-top: 15px;
}

.movie-stat__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #272727;
    padding-bottom: 10px;
}

.like-unlike__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.like-unlike-style {
    color: #8f8f8f;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.stats__container {
    margin-right: 15px;
}

@media only screen and (max-width: 1330px) {
    .menu__wrapper {
        width: 75px;
        display: block;
    }

    .mainMenu-container,
    .historyMenu-container,
    .accountMenu-container,
    .categoryMenu-container,
    .moreCanalMenu-container,
    .moreYtMenu-container,
    .otherMenu-container,
    .linksMenu-container {
        display: none;
        border-bottom: none;
        padding: 0;
    }

    .mobile-menu__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }

    .active-btn {
        text-align: center;
        height: 75px;
    }

    .menu-btn {
        text-align: center;
        height: 85px;
    }

    .menu-span,
    .active-span {
        font-size: 10px;
    }

    .movie-content__wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 1000px) {

    .header__searchBox {
        display: none;
    }

    .movie-container {
        width: 33%;
    }

    .content__wrapper {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .more-video__wrapper {
        display: none;
    }

    .video-content__wrapper {
        padding: 35px;
    }
}

@media only screen and (max-width: 890px) {
    .movie-container {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .menu__wrapper {
        display: none;
    }

    .movie-content__wrapper {
        width: 100%;
    }

    .movie-container {
        width: 100%;
    }

    i {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    .logIn-btn {
        margin: 0;
    }

    .video-content__wrapper {
        padding: 0;
    }

    .movie-stat__wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .mobile-stat {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .like-unlike__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: center;
        align-content: center;
    }
}